body{
    margin:0;
    font-family:'Cairo',sans-serif;
    background:#0b0f14;
    color:white;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    padding:20px;
}

.card{
    background:#11171f;
    padding:40px;
    border-radius:15px;
    width:100%;
    max-width:400px;
    box-shadow:0 0 20px rgba(0,255,136,0.2);
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:8px;
    border:none;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:25px;
    background:linear-gradient(90deg,#00ff88,#00cc66);
    font-weight:bold;
    cursor:pointer;
}

a{
    color:#00ff88;
    text-decoration:none;
}

/* Mobile تحسين */
@media(max-width:600px){
    .card{
        padding:25px;
    }
}
