<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="container">
<div class="card">

<h2>Welcome {{ name }} ({{ role }})</h2>

<p>Total Threat Events: {{ threat_count }}</p>

<a href="/scan"><button>Run AI Scan</button></a>
<a href="/generate-report"><button>Download PDF Report</button></a>

{% if role == "Admin" %}
<a href="/admin"><button>Admin Panel</button></a>
{% endif %}

<h3>Threat Logs</h3>
{% for log in logs %}
<p>{{ log.timestamp }} - {{ log.result }}</p>
{% endfor %}

<a href="/logout"><button>Logout</button></a>

</div>
</div>
